<app-navbar></app-navbar>

<app-spinner *ngIf="isLoading"></app-spinner>

<!-- IS loader is showing dont show anything-->
<div class="container" *ngIf="!isLoading">
  <!-- STAGE 1 LOAD MODEL-->
  <div class="row" *ngIf="!model">
    <h1>
      Load the model and let the fun beggin:
      <button
        (click)="loadModel()"
        class="btn btn-info btn-lg"
        style="margin-left: 15px"
      >
        <i class="glyphicon glyphicon-cloud-download"></i> LOAD MODEL
      </button>
    </h1>
  </div>

  <!-- STAGE 2 pick an image-->
  <div class="row" *ngIf="model">
    <div class="col-xs-4 input-group" style="margin: 15px">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-upload"></i>
      </span>
      <input
        type="file"
        accept="image/*"
        (change)="imagePickHandler($event)"
        class="form-control"
      />
    </div>

    <img
      class="img-thumbnail"
      [src]="imagePreview"
      alt="img preview"
      width="250px"
      height="200px"
      #imageTagRef
    />

    <button
      class="btn btn-info btn-lg"
      style="margin-left: 15px"
      (click)="classifyingImg(imageTagRef)"
      *ngIf="imagePreview"
    >
      <i class="glyphicon glyphicon-cog"></i> Classified
    </button>
  </div>

  <!-- STAGE 3 show result-->
  <div class="row" style="margin: 15px" *ngIf="classifiedResultS">
    <div class="panel panel-info"  style="margin-bottom: 15px" *ngFor="let result of classifiedResultS">
      <div class="panel-heading">Classified as {{result.className}}</div>
      <div class="panel-body">
        Percentage:% {{(result.probability * 100).toFixed(2)}}
      </div>
    </div>
  </div>
</div>


